div.hero-body > * {
    opacity: 1;
}

#picture-behind-search {
    background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.85) 30%,
            rgba(255, 255, 255, 0.8) 80%
        ),
        url('../img/blossom.jpg');
}

a.hot {
    font-size: 25px;
    color: skyblue;
}